<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-9xl font-bold tracking-tighter"
        >
          My most
          <span class="lg:block">recent work</span>
        </h1>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3 mt-12"
      >
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="https://ph-files.imgix.net/2c15b9c0-1398-4634-b03b-67586926e4c7.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=80&h=80&fit=crop&bg=0fff&dpr=2"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a href="https://github.com/Sequoia-Theme"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Sequoia Theme</span>
              </a>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Black, elegant, modern and gentle theme for VS Code.
          </p><p
            class="relative z-10 mt-6 flex text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white items-center"
          >
            <svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current flex-none order-last group-hover:translate-x-6 transition"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>

            <span class="mr-2">Github</span>
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="https://ph-files.imgix.net/55118d00-9d14-4d9d-956f-debb3dbaf6e8.png?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=80&h=80&fit=crop&bg=0fff&dpr=2"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a href="https://github.com/Serendipity-Theme"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Serendipity Theme</span>
              </a>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Elegant, minimal, and clean color palette to give your eyes rest on
            different interfaces.
          </p><p
            class="relative z-10 mt-6 flex text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white items-center"
          >
            <svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current flex-none order-last group-hover:translate-x-6 transition"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>

            <span class="mr-2">Github</span>
          </p>
        </li><li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="https://svgdoodles.com/images/favicons/favicon-32x32.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a href="https://svgdoodles.com/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">SVG Doodles</span>
              </a>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            A free collection of 50 different hand-made and editable SVG
            Doodles.
          </p><p
            class="relative z-10 mt-6 flex text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white items-center"
          >
            <svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current flex-none order-last group-hover:translate-x-6 transition"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>

            <span class="mr-2">SVG Doodles</span>
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="https://pbs.twimg.com/profile_images/1556046410767818752/EjRXx_bq_400x400.jpg"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a href="https://unwrapped.design/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Unwrapped</span>
              </a>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Digital resources for designers and web developers to supercharge
            your workflow.
          </p><p
            class="relative z-10 mt-6 flex text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white items-center"
          >
            <svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current flex-none order-last group-hover:translate-x-6 transition"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>

            <span class="mr-2">Unwrapped</span>
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="https://www.colorsandfonts.com/images/favicons/favicon-32x32.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a href="https://www.colorsandfonts.com/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Colors &amp; Fonts</span>
              </a>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            Color and typography inspiration for Web Developers and Digital
            Designers.
          </p><p
            class="relative z-10 mt-6 flex text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white items-center"
          >
            <svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current flex-none order-last group-hover:translate-x-6 transition"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>

            <span class="mr-2">Colors and fonts.</span>
          </p>
        </li>
        <li class="group relative flex flex-col items-start">
          <div
            class="relative z-10 flex items-center justify-center rounded-full bg-white dark:bg-black"
          >
            <img
              alt=""
              src="https://svggradients.com/images/favicons/favicon-32x32.png"
              width="32"
              height="32"
              decoding="async"
              data-nimg="future"
              class="h-8 w-8 rounded-full"
              loading="lazy"
              style="color: transparent;"
            />
            <h2 class="ml-3 text-base font-semibold text-black dark:text-white">
              <a href="https://www.svggradients.com/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">SVG GRadients</span>
              </a>
            </h2>
          </div>
          <p
            class="relative z-10 mt-6 text-sm text-zinc-500 dark:text-zinc-400"
          >
            50 Free SVG Mesh gradients available in Figma and easy to copy-paste
          </p><p
            class="relative z-10 mt-6 flex text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white items-center"
          >
            <svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current flex-none order-last group-hover:translate-x-6 transition"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>

            <span class="mr-2">SVG Gradients.</span>
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
