<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-9xl font-bold tracking-tighter"
        >
          Visual
          <span class="lg:block">Storyteller</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-400 text-zinc-500 lg:col-span-3 space-y-6 lg:grid lg:grid-cols-2 lg:space-y-0 lg:gap-12"
      >
        <div class="space-y-6">
          <p>
            I'm a self taught Front-end Designer, product guy and a bootstrapped
            Indie Hacker, with a simple and modernist visual language,
            specialized in Tailwind CSS, dark-mode design and Tailwind CSS UI
            Components. I have a wide range of customers around the world,
            enjoying the products that I built build and designed. I have
            recently sold my SAAS Wicked Templates and Wicked Blocks and right
            now I am building another one while working on Unwrapped and
            Supreme.
          </p>
          <p>
            For the past four years I've also been curating a collection of
            color inspiration Colors & Fonts, creating an extended VS Code
            Theme, Serendipity Theme, curating brutalist and experimental
            websites on Brutalist One.
          </p>
        </div>
        <div class="space-y-6">
          <p>
            I had the privilege of having my work featured on the following
            sites and publications: Bytes , Product Hunt , Alpine.js Weekly ,One
            Page Love ,Creative Tim ,Brad Traversy ,Specky Boy ,Code Drops
            ,Design Course ,Laravel Daily ,Dark Mode Design ,Guia Dev Brasil
          </p><p>
            You can find me on Dribble , Figma Community , Indie Hackers and
            Twitter and you can get in touch via e-mail, you can talk to me in
            English, Spanish, Italian & Swedish.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
